.recent-transactions-card {
    background-color: #d8e9d8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  .recent-transactions-card h4 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .recent-transactions-card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  .recent-transactions-card .transaction-item {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin: 5px 0;
  }
  
  .recent-transactions-card .transaction-item span:first-child {
    color: #333;
  }
  
  .recent-transactions-card .transaction-item span:last-child {
    color: #555;
  }
  
  .view-more-button {
    background-color: #042e04;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .view-more-button:hover {
    background-color: #2e9444;
  }
  
  .view-more-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }